<div class="container">
<form>
  <fieldset class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter Book Name">
  </fieldset>
  <fieldset class="form-group">
    <label>ISBN</label>
    <input type="text" class="form-control" placeholder="Enter ISBN">
  </fieldset>
  <fieldset class="form-group">
    <label>Reading Status</label>
    <select class="form-control">
      <option>Read the Book</option>
      <option>Yet to Read the Book</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label>Location Status</label>
    <select class="form-control">
      <option>Lost the Book</option>
      <option>Book is with friend</option>
      <option>Have the Book</option>
      <option></option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label>Review</label>
    <textarea class="form-control" rows="3"></textarea>
  </fieldset>
  <fieldset class="form-group">
  <input id="input-21b" value="4" type="number" class="rating" min="0" max="10" step="0.2" data-size="lg">
  </fieldset>
  <fieldset class="form-group">
    <label class="btn btn-primary" for="my-file-selector">
    <input id="my-file-selector" type="file" style="display:none;">
    Choose Book Image
	</label>
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>